.textfield[type='text'] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.textfield::placeholder {
  color: var(--secondary-text);
}

.textfield[type='text']:focus,
.textfield:focus {
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary);
}

.textfield[type='text']:focus .textfield-label {
  color: red;
}

label {
  display: block;
  font-size: 12px;
  color: var(--primary-text);
}

label ~ .textfield:focus {
  color: red;
}

.textfield-standard {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
}

.textfield-standard:focus {
  border-width: 1px;
  border-style: solid;
  border-bottom-color: var(--primary) !important;
}

.textfield:focus ~ .labelWrapper {
  color: var(--primary);
}

.textboxWrapper {
  display: flex;
  flex-direction: column-reverse;
}
