:host {
  display: block;
}

.tabWrapper {
  display: flex;
}

.tabMenu {
  flex: 1;
  border-bottom: 3px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.tabMenu:hover {
  color: var(--primary);
}
.isActive {
  color: var(--primary);
  border-bottom-color: var(--primary);
  transition: all 0.5s linear;
}

.tabDarkMode {
  background-color: var(--dark-primary-bg);
  color: var(--dark-primary-text);
}
.tabMenus {
  display: flex;
}
