.kizunaHeader {
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 10%);
  padding: 15px;
  justify-content: left;
}

.kizunaHeader h1 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-left: 15px;
  color: var(--primary);
}

.toolbar {
  display: block;
}

.toolbar svg {
  fill: var(--primary);
}

@media only screen and (min-width: 600px) {
  .toolbar {
    display: none !important;
  }

  .kizunaHeader h1 {
    font-size: 14px;
  }
}
