.popoverContainer {
  position: relative;
  width: fit-content;
}

.exampleWrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.exampleContainer:not(:last-child) {
  margin-right: 2rem;
  /* text-align: center; */
}

.exampleTitle {
  font-weight: 400;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}
.dividerMargin {
  margin: 2rem 0;
}
