.popoverContainer {
  position: relative;
  width: fit-content;
}

.exampleWrapper {
  display: flex;

  flex-wrap: wrap;
}

.exampleContainer:not(:last-child) {
  margin-right: 3rem;
}

.exampleTitle {
  font-weight: 400;
}
