.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.42);
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.is-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.modal-window {
  background: white;
  border-radius: 15px;
  width: 75%;
  height: 75%;

  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal-window__content {
  width: 100%;
  height: 100%;
}

.modal-close-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
