:host {
  display: block;
}

.avatar {
  z-index: 1;
  position: relative;
}

/* SIZES */
.xs {
  width: 15px;
  height: 15px;
}

.sm {
  width: 20px;
  height: 20px;
}

.md {
  height: 40px;
  width: 40px;
}

.lg {
  height: 60px;
  width: 60px;
  font-size: 28px;
}

.xl {
  height: 80px;
  width: 80px;
  font-size: 32px;
}
/* SIZES */

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-weight: 600;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Rounded Avatars */
.bordered-avatar {
  border: 4px solid var(--primary);
}

.bordered-avatar ~ .ind-md,
.bordered-avatar ~ .ind-lg,
.bordered-avatar ~ .ind-xl {
  right: -5px;
  bottom: -5px;
}

/* Status / Indicator */
.indicator {
  position: absolute;
  border-radius: 100%;
  z-index: 10;
  right: 0;
  bottom: 0;
}

.away {
  background: #df4949;
}

.offline {
  background: #c4c4c4;
}

.online {
  background: #11d30d;
}

.ind-md {
  height: 10px;
  width: 10px;
}

.ind-lg {
  height: 15px;
  width: 15px;
}

.ind-xl {
  height: 20px;
  width: 20px;
}
/* Status / Indicator */
